<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Tipologia" stopProcessing="true">
                    <match url="^fabrica/([^/]+)/([^/]+)/?" />
                    <action type="Rewrite" url="tipologia.php?fabrica={R:1}&amp;tipologia={R:2}" />
                </rule>
                <rule name="Fabrica" stopProcessing="true">
                    <match url="^fabrica/([^/]*)/?" />
                    <action type="Rewrite" url="fabrica.php?fabrica={R:1}" />
                </rule>
                <rule name="Blog" stopProcessing="true">
                    <match url="^blog/([^/]*)/?" />
                    <action type="Rewrite" url="blog.php?blog={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
